body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  margin: 5px;
}

#vanilla {
  background-color: green !important;
}

.Graph {
  margin: 0 auto;
}

.GraphBar {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 500px;
  border: black 2px solid;
}

.GraphBar {
  background-color: lightblue;
  margin: 5px auto;
}

.App {
  text-align: center;
}

.label {
  border: gray 1px solid;
  width: 200px;
  margin-right: 15px;
  padding: 10px;
}

.value {
  border: gray 1px solid;
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}
